<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
{% block header %}
     <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
{% endblock %}
{% block title%} Log in {% endblock %}

<body>
{% block content %}
    
    <div class ="login">
        <h2>To continue, log in to Foodule</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                {{form.as_ul}}
            </div>
                {% for msg in messages %}
                    <p id='message'>{{msg}}</p>
                {% endfor %}
                <button type="submit">Log in</button>
        </form>
        <div class="noaccount">
            <small>
                Don't have an account? Sign up <a class="ml-2" href="/register">here</a>
            </small>    
        </div>
    </div>
{% endblock %}
</body>
</html>